//https://docs.microsoft.com/en-in/aspnet/core/tutorials/build-a-blazor-app?view=aspnetcore-5.0
@page "/"

<h1>MStats!</h1>

RawRead.App

<SurveyPrompt Title="Howdy?" />
<Counter IncrementAmount="100" />